<h3 class="gm-header"><i class="fas fa-balance-scale"></i> Merchant Generator <i class="fas fa-info-circle help" onclick="$('.merchant-settings-info').toggle();"></i></h3>
<div class="merchant-settings-info">Replace this merchant's inventory with a random number of items from a Rollable Table. Specify the Rollable Table's name, along with how a formula for how many different items to add (Shop Qty Formula), and a formula for determining how many of each item to add (Item Qty Formula).</div>
<div class="merchant-settings">
	<div class="flexrow">
		<div class="flexcol"><h4>Rollable Table: </h4></div>
		<div class="flexcol">
			<select class="sheet-rolltable" id="data.rolltable">

				{{#select data.rolltable}}
				<option value=""></option>
				{{#each rolltables as |table i|}}
				<option value="{{table.name}}">{{table.name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	<div class="flexrow">
		<div class="flexcol"><h4>Shop Qty Formula: </h4></div>
		<div class="flexcol"><input id="data.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20" value="{{data.shopQty}}"/></div>
	</div>
	<div class="flexrow">
		<div class="flexcol"><h4>Item Qty Formula: </h4></div>
		<div class="flexcol"><input id="data.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4" value="{{data.itemQty}}"/></div>
	</div>
	<div class="flexrow">
		<div class="flexcol"><h4>Limit Qty: </h4></div>
		<div class="flexcol"><input id="data.itemQtyLimit" type="text" data-dtype="String" placeholder="e.g. 10" value="{{data.itemQtyLimit}}"/></div>
	</div>
	<div class="flexrow">
		<div class="flexcol"><h4>Price in gold: </h4></div>
		<div class="flexcol"><input id="data.itemPrice" type="text" data-dtype="String" placeholder="e.g. 1d100" value="{{data.itemQtyLimit}}"/></div>
	</div>
	<div class="flexrow">
		<div class="flexcol"><h4>Clear Inventory: </h4></div>
		<div class="flexcol"><input id="data.clearInventory" type="checkbox" data-dtype="boolean" {{#if data.clearInventory}}checked{{/if}}/></div>
	</div>
</div>
