<h3 class="gm-header"><i class="fas fa-balance-scale"></i> Merchant Generator <i class="fas fa-info-circle help"
																				 onclick="$('.merchant-settings-info').toggle();"></i>
</h3>
<div class="merchant-settings-info">{{localize "MERCHANTNPC.generator-page.info"}}
</div>
<div class="merchant-settings">
	<div class="flexrow">
		<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.roll-type"}} </h4></div>
		<div class="flexcol">
			<select class="generator-selector" style="{{inputStyle}}" id="data.selector">
				<option value="table" selected>{{localize "MERCHANTNPC.generator-page.roll-table"}}</option>
				<option value="compendium">{{localize "MERCHANTNPC.generator-page.compendium"}}</option>
			</select>
		</div>
	</div>

	<div class="merchant-settings">
		<div class="merchant-settings">
			<div id="merchant-table" class="expanded">
				<div class="flexrow">
					<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.roll-table"}}: </h4></div>
					<div class="flexcol">
						<select class="sheet-rolltable" style="{{inputStyle}}" id="data.rolltable">

							{{#select data.rolltable}}
							<option value="">None</option>
							{{#each rolltables as |table i|}}
							<option value="{{table.name}}">{{table.name}}</option>
							{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
			</div>
			<div id="merchant-compendium" hidden>
				<div class="flexrow">
					<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.compendium"}}: </h4></div>
					<div class="flexcol">
						<select class="sheet-compendium" id="data.compendium">

							{{#select data.compendium}}
							{{#each compendiums as |table i|}}
							<option value="{{@key}}">{{this}}</option>
							{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function () {
					$('input[type="checkbox"]').click(function () {
						var val = $(this).attr("value");
						$("." + val).toggle();
					});
				});
			</script>
			<div class="flexrow">
				<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.shop-qty"}} ({{localize "MERCHANTNPC.generator-page.shop-import-all"}}: <input id="data.importAll" type="checkbox"
																	  data-dtype="boolean" value="shop-formula"/>)</h4>
				</div>
				<div class="shop-formula flexcol"><h4>{{localize "MERCHANTNPC.generator-page.formula"}}: </h4></div>
				<div class="shop-formula flexcol"><input id="data.shopQty" type="text" data-dtype="String"
														 placeholder="e.g. 1d20" value="{{data.shopQty}}"/></div>
			</div>
			<div class="flexrow">
				<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.item-qty-formula"}}: </h4></div>
				<div class="flexcol"></div>
				<div class="flexcol"><input id="data.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4"
											value="{{data.itemQty}}"/></div>
			</div>
			<div class="flexrow">
				<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.limit-qty"}}: </h4></div>
				<div class="flexcol"></div>
				<div class="flexcol"><input id="data.itemQtyLimit" type="text" data-dtype="String" placeholder="e.g. 10"
											value="{{data.itemQtyLimit}}"/></div>
			</div>
			<div class="flexrow">
				<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.price-formula"}}: </h4></div>
				<div class="flexcol"></div>
				<div class="flexcol"><input id="data.itemPrice" type="text" data-dtype="String" placeholder="e.g. 1d100"
											value="{{data.itemQtyLimit}}"/></div>
			</div>
			<div class="flexrow">
				<div class="flexcol"><h4>{{localize "MERCHANTNPC.generator-page.clear-inventory"}}: </h4></div>
				<div class="flexcol"></div>
				<div class="flexcol"><input id="data.clearInventory" type="checkbox" data-dtype="boolean" {{#if
											data.clearInventory}}checked{{/if}}/>
				</div>
			</div>
		</div>
		<button type="button" id="generate-items" class="generate-items" type="generate-items" name="generate-items"
				value="1"><i class="fas fa-balance-scale"></i>{{localize "MERCHANTNPC.generate"}}
		</button>
	</div>