<div class="form-group">
	<label>Disable sell to merchant:</label>
	<div class="form-fields">
		<input type=checkbox {{disableSell}} id="disable-sell">
	</div>
</div>
<div class="form-group">
	<label>Keep item when last item sold:</label>
	<div class="form-fields">
		<input type=checkbox {{keepDepleted}} id="keep-depleted">
	</div>
</div>
<div class="form-group">
	<label>Change merchant to sell services, items are not moved to player, quantity, weight are not shown:</label>
	<div class="form-fields">
		<input type=checkbox {{service}} id="service">
	</div>
</div>

