<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.disable-sell"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{disableSell}} id="disable-sell">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.limited-currency"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{limitedCurrency}} id="limited-currency">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.keep-item"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{keepDepleted}} id="keep-depleted">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.services"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{service}} id="service">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.hide-buy-stack"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{hideBuyStack}} id="hide-buy-stack">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.max-buy-percentage"}}:</label>
	<div class="form-fields"><input id="max-buy-percentage" type="text" data-dtype="String"
											 placeholder="e.g. 200 like 200%" value="{{maxBuyPercentage}}"/></div>
</div>

