<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.disable-sell"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{disableSell}} id="disable-sell">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.keep-item"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{keepDepleted}} id="keep-depleted">
	</div>
</div>
<div class="form-group">
	<label>{{localize "MERCHANTNPC.settings-page.services"}}:</label>
	<div class="form-fields">
		<input type=checkbox {{service}} id="service">
	</div>
</div>

