root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[*.less]
indent_size = 4

[{*.ats,*.ts}]
indent_style = tab

[{*.cjs,*.js}]
indent_style = tab
max_line_length = 170

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml}]
indent_style = tab
